.homework06-wrapper {
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background-color: antiquewhite;
    border: 1px solid #070707;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
  }
  
  .card-title {
    font-size: 30px;
    margin-bottom: 10px;
    color: brown;
  }
  
  .card-info {
    font-size: 20px;
    margin: 5px 0;
  }
  